body {
    background-color: rgb(24, 24, 24);
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.heade {
    background-color: rgba(24, 24, 24, 0.8);
    text-align: left;
    color: #ffffff;
    border-radius: 25px;
    padding: 1em;
    margin: 1em;
    font-size: 3vw;
}

.container {
    text-align: center;
    background-color: rgba(24, 24, 24, 0.8);
    color: white;
    border-radius: 30px;
    padding: 2%;
    font-size: 20px;
    margin: auto;
    width: 90%;
    max-width: 800px;
}

.image {
    width: 90%;
    padding-top: 3%;
    padding-bottom: 2%;
    border-radius: 3em;
}

.text {
    margin-top: 1em;
}

.instructions {
    margin-top: 1em;
    text-align: center;
    color: orange;
    font-weight: bold;
    font-size: 1.5em;
}

.projects {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    padding: 2%;
    width: 180px;
    text-align: center;
    background-color: rgba(24, 24, 24, 0.8);
    color: white;
    border-radius: 30px;
    margin: 0 1vw;
}

.project-image {
    width: 100px;
    margin-bottom: 10px;
}

.project-title {
    font-size: 1.2em;
}
